---
---

@import "{{ site.theme }}";

/* #region fonts */
@font-face
{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-VariableFont_wdth,wght-Kombu.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght-Kombu.woff2') format('woff2');
	font-style: italic;
	font-display: swap;
}
/* #endregion */

/* #region general */
body {
  --font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-small: 0.875rem;
  --accent-bg-Lc95: #802901;     /* color(--okhsl 40 1   0.31801) */
  --accent-bg-Lc85: #a84002;     /* color(--okhsl 43 1   0.4308) */
  --accent-bg-Lc75: #c15c01;     /* color(--okhsl 51 1   0.52252) */
  --accent-bg-Lc75-yes: #a46f02; /* color(--okhsl 54 1 0.64223) */
  --accent-bg-Lc75-no: #c65738;  /* color(--okhsl 40 1 0.64651) */
  --accent-text-Lc45: #fb6406;   /* color(--okhsl 43 1   0.6532) */
  --accent-text-Lc60: #ff9755;   /* color(--okhsl 51 1   0.75206) */
  --accent-text-Lc75: #ffbe93;   /* color(--okhsl 54 1   0.84205) */
  --accent-text-Lc90: #f7e6dc;   /* color(--okhsl 51 0.5 0.92372) */
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 100%/1.5 var(--font-stack);
  color: var(--accent-text-Lc90);
  font-feature-settings: 'ss01', 'zero';
  font-weight: normal;
  background: #0f0f0f;
  background-attachment: fixed !important;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

a {
  color: var(--accent-text-Lc60);
  font-weight: 400;
  text-decoration: none;
}

a:focus {
    outline: 2px dotted var(--accent-text-Lc75);
}

a:hover {
  color: var(--accent-text-Lc45);
}

code {
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;
  background-color: #ffd1b756; /* color(--okhsv 51.068 0.25 1 / 0.33725) APCA Lc15 to bg*/
  color: #fff;
  font-size: var(--font-small);
  margin: 0;
  padding: 2px 3px;
  border-radius: 2px;
}

dt,
th {
  font-family: var(--font-stack) !important;
  font-weight: 600;
}

strong {
  font-family: var(--font-stack) !important;
  font-weight: 700;
}
/* #endregion */

/* #region skip link */
.skip-link {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important
}

.skip-link:focus {
  background-color: var(--accent-text-Lc90);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
  clip: auto !important;
  color: #252525;
  display: block;
  font-size: 1rem;
  left: 1em;
  height: auto;
  padding: 1em;
  text-decoration: none;
  top: 1em;
  width: auto;
  z-index: 100000;
}
/* #endregion */

/* #region navigation-top */

#navigation-top {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: absolute;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 1080px;
    padding: 0 10px;
    margin: 6px auto;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-family: var(--font-stack);
      font-weight: normal;
      list-style: none;
      display: inline;
      color: white;
      line-height: 50px;
      text-shadow: 0px 1px 0px rgba(0,0,0,.2);
      font-size: 1rem;

      a {
        color: white;
        background-color: var(--accent-bg-Lc75);
        background: linear-gradient(var(--accent-bg-Lc75), var(--accent-bg-Lc85));
        border: 1px solid var(--accent-bg-Lc85);
        border-radius: 2px;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
        padding: 10px 12px;
        margin-top: 6px;
        line-height: 1;
        font-size: 1rem;
        display: inline-block;
        text-align: center;

        &:hover {
          background-color: var(--accent-bg-Lc85);
          background: linear-gradient(var(--accent-bg-Lc85), var(--accent-bg-Lc95));
          border: 1px solid var(--accent-bg-Lc95);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px transparent;
        }
      }

      &.fork {
        float: left;
        margin-left: 0px;
      }

      &.downloads {
        float: right;
        margin-left: 6px;
      }

      &.title {
        float: right;
        margin-right: 10px;
        font-size: var(--font-small);
      }
    }
  }

  .button-left {
    float: left;
    margin-left: 6px;
  }
}

/* #endregion */

/* #region header */
/* same formatting as jekyll-midnight, just applied to a different selector for a more accessible semantic structure */

header #title .site-title {
  display: block;
  font-family: var(--font-stack);
  font-weight: normal;
  font-size: 40px;
  margin: 0 0 10px;
  text-align: center;
  line-height: 36px;
}

header #title p {
  font-family: var(--font-stack);
  font-weight: normal;
}

/* custom overrides */

header section {
  max-width: 1080px;
  padding: 30px 0 0 0;
  margin: 20px 0;
  margin-top: 70px;
}

header #title .credits {
  color: #787878; /* APCA contrast 30 */
  font-family: var(--font-stack);
  font-size: var(--font-small);
}
/* #endregion */

/* #region main content */

main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-family: var(--font-stack);
    line-height: 1.5;
  }
}

main h1 {
  font-size: 1.75rem;
}

main h2 {
  font-size: 1.5rem;
}

main h3 {
  font-size: 1.25rem;
}

main blockquote {
  border-left: 3px solid #e4741f;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

main figure {
  float: right;
  margin: 6px;
  padding: 6px;
  text-align: center;
  background-color: #353535;
}

p
{
  font-family: var(--font-stack);
}

/* #region lists */
main {

  dl,
  ol,
  ul {
    padding: 0 0 0 1.33em;
  }

  li {
    margin-bottom: 3px;

    a {
      line-height: calc(max(1.5, 24px));
    }

    :is(dl, ol, ul) {
      margin-bottom: 0;
    }
  }

  ul li li {
    list-style-image: url("../images/bullet-single.png");
  }
}

main ul.multi-column-list {
  column-count: auto;
  column-width: 15em;

  li {
    break-inside: avoid-column;
  }

  ul {
    break-before: avoid-column;
  }

  > li > ul {
    margin-bottom: 20px;
  }
}
/* #endregion */

/* #region settings chips */
.chip {
	border-radius: 2px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.7);
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 0.2em;
	padding: 0 0.25em;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	min-width: 1.8rem;
}

.chip.off {
	background-color: var(--accent-bg-Lc75-no);
}

.chip.on {
	background-color: var(--accent-bg-Lc75-yes);
}

.sample-dot
{
  text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
}
/* #endregion */
/* #endregion */
